* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
}
.bg-dark {
  background-color: rgb(9 9 10) !important;
  color: #fff !important;
}
.logo {
  width: 70%;
}
.jumbotron {
  position: relative;
  height: 80vh;
  position: relative;

  background-image: linear-gradient(
      rgba(32, 31, 31, 0.6),
      rgba(44, 42, 42, 0.6)
    ),
    url(./images/travel\ cover.jpg);
  background-size: cover;
  color: #fff;
}
.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50px);
}
.live-text {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  width: 100%;
  font-size: 48px;
  font-weight: 900;
  position: absolute;
  top: 90%;
  right: 50%;
  transform: translate(50%);
  z-index: 55555;
}
.richer {
  font-size: 48px;
  font-weight: 900;
}
h1 {
  font-size: 96px !important;
  font-family: "Permanent Marker", cursive;
}
.sub-header {
  font-size: 32px;
  font-weight: 900;
}
nav a {
  font-size: 24px;
}
.nav-flex {
  justify-items: end !important;
}
.catchy-quote {
  font-size: 18px;
  font-style: italic;
}
.obj-img {
  height: 254px;
  object-fit: cover;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.city {
  display: inline-block;

  font-size: 32px;
  text-transform: uppercase;
}
.city-quote {
  font-size: 24px;
  text-transform: uppercase;
}
.city {
  display: inline-table;
  vertical-align: middle;
  margin: 1em;
  padding: 0.5em 1em;
  background: linear-gradient(
        to right,
        transparent 20%,
        #ffe3e3 20%,
        #ffe3e3 80%,
        transparent 80%
      )
      bottom no-repeat,
    linear-gradient(to top, #ffe3e3 0%, #ffe3e3 300%) right 300% no-repeat,
    linear-gradient(to right, #ffe3e3 0%, #ffe3e3 100%) 9000% 0 no-repeat,
    linear-gradient(to top, #ffe3e3 0%, #ffe3e3 300%) left 9000% no-repeat;
  transition: background-size 2s ease-in;
}
.city,
.city ~ .city:hover {
  background-size: 100% 8px, 3px 0, 3px 3px, 3px 0;
  cursor: pointer;
}
.city:hover,
.city ~ .city {
  background-size: 200% 3px, 3px 100%, 100% 3px, 3px 100%;
  transition: background-size 2s ease-in-out;
}
.filt {
  filter: brightness(70%);
  height: 482px;
  object-fit: cover;
}
.deal-box {
  display: flex;
  gap: 24px;
  justify-content: space-around;
  background-color: rgb(212, 203, 203);
  border: 1px solid #aaa;
  border-radius: 9px;
}
.deal-img {
  width: 155px;
  height: 180px;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}
.deal-text-box {
  gap: 36px;
}
.deal-cont {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.deal-cont:hover {
  transform: translateX(-2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.09);
}
/* slider */

.slider {
  max-width: 100rem;
  height: 35rem;
  margin: 0 auto;
  position: relative;
  border-radius: 7px;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 3.4rem;
  width: 3.4rem;
  font-size: 2.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #fff;
  /* background-color: #888; */
  opacity: 1;
}
